@use './functions' as *;
@use './colors' as *;
@use './variables' as *;

@mixin horizontal-layout() {
    min-width: max-content;
    height: 100%;
    min-height: fit-content;
    display: grid;
    grid-auto-flow: column;
    gap: rem(64);
    padding: rem(128) rem(64);
}
@mixin horizontal-max-height() {
    max-height: calc(100lvh - rem(128) * 2);
}
@mixin block-title() {
    font-family: 'Fira-Extra';
    font-weight: bold;
    font-size: lineScale(96, 32, 480, 1440);
    line-height: 1;
    text-transform: uppercase;
    max-width: 15ch;
}
@mixin decorative-text() {
    text-transform: uppercase;
    font-size: lineScale(1000, 320, 480, 1440);
    line-height: 0.7;
    font-weight: $fw-med;
    user-select: none;
    pointer-events: none;
}
@mixin gradient-text-hover($main-color: $c-111111, $accent-color: $c-accent) {
    @supports (background-clip: text) {
        color: transparent;
        background-clip: text;
        background-image: linear-gradient(90deg, $accent-color 50%, $main-color 50%);
        background-size: 250% 200%;
        background-position: -80% -100%;
        transition: background-position $td $tf;
        @media (pointer: fine) {
            &:hover {
                background-position: -160% -200%;
            }
        }
    }
    @supports not (background-clip: text) {
        transition: color $td $tf;
        @media (pointer: fine) {
            &:hover {
                color: $c-accent;
            }
        }
    }
}
